
{%extends 'layout.html' %}
{%block title_block %}
Books
{%endblock%}
{% load static %}
{%block body_block %}
<h1>Our Books</h1>
    <table>
        <tr>
            <th>Book</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            {% if request.user.is_authenticated %}
            <th>Borrowe</th>
            {% endif %}
        </tr>
        {% for book in books %}
        <tr>
            <td><img src="{% static book.picture %}" alt={{book.picture}} width="60" height="70"></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category.name }}</td>
            {% if request.user.is_authenticated %}
            {% if book.is_borrowed %}
                <td><button disabled>Borrowed</button></td>
            {% else %}
                <td><button onclick="location.href='borrowe/{{book.id}}'">Borrowe</button></td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}

    </table>
{%endblock%}

